/* Most inefficient .css youll see today :D */

@keyframes highlightShimmer {
    0% {
        background-position: -100px 50
    }
    100% {
        background-position: 1000px 0
    }
}

.highlight {
    padding: 10px;
    color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: highlightShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(120deg, #ffffff 20%, #a9eafc 30%, #ffffff 40%);
    background-size: 1000px 1000px;
    position: relative;
}

body {
    background-color: rgb(250, 250, 250);
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: 10px;
    background: #54b9d4;
    height: 7px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.announcement {
    color: rgba(0, 0, 0, 0.8);
    font-style: oblique;
    margin: 0px;
    font-size: 0.8rem;
}

.email {
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    padding: 2px;
}

.title {
    text-align: center;
    font-style: bold;
    margin-bottom: 2rem;
    padding: 10px;
}

a {
    text-decoration: none;
}

figcaption {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;
    display: block;
    text-align: center;
}

.mag {
    flex: 0 0 auto;
    margin: 0.5rem;
    box-shadow: 5px 5px 5px #00000013;
    border-radius: 4px;
    transition-duration: 0.5s;
    max-width: calc(45% - 0.5rem);
    background-color: rgb(255, 255, 255);
}

.mag:hover {
    box-shadow: 6px 6px 5px #00000036;
}

h1,
h2,
h3 {
    font-weight: normal;
    line-height: 1.325em;
    color: black;
    font-family: "Gelasio", serif;
    margin-top: 1em;
    display: inline-block;
    transition: 0.2s;
    margin-bottom: 0px;
}

h1 {
    margin: 15px;
    margin-bottom: 0px;
    font-family: "Gelasio", serif;
    font-size: 2.6rem;
    margin-right: 8px;
}

h2 {
    font-size: 1.5rem;
}

.overlay {
    max-width: unset;
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

body {
    margin: auto;
    font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 600px) {
    .underline:after {
        bottom: 15px;
        height: 10px;
    }
    .overlay {
        max-width: 1200px;
    }
    .mag {
        width: 15rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        flex: 1 1 auto;
    }
    .announcement {
        font-size: 0.9rem;
    }
    h1 {
        margin: 20px;
        margin-bottom: 0px;
        font-size: 3.6rem;
    }
    h2 {
        font-size: 2.6rem;
    }
    h1,
    h2,
    h3 {
        margin-top: 0.5em;
    }
    .desktop {
        display: initial !important;
    }
    .mobile {
        display: none !important;
    }
}

img {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}